JERRYSCAN_MODEL_FOLDER=models/Patchcore_rembg_u2net_black_v1_256_c10_seed42
JERRYSCAN_GPU_MODEL_COUNT=0
JERRYSCAN_CPU_INFERENCE_CONCURRENCY=2
JERRYSCAN_GPU_INFERENCE_CONCURRENCY=1
SMTP_USER=
SMTP_PASSWORD=
